<%= simple_form_for transaction_item, url: new_debt_transaction_item_path(debt), as: :transaction_item do |f| %>
  <div class="modal-body">
    
    <%= f.input :transaction_info_id, label: 'Tipo', collection: debt.transaction_infos, label_method: :category_name, value_method: :id, disabled: f.object.persisted? %>
    
    <%= f.input :value_brl, as: :string, placeholder: "Digite o valor", input_html: {value: big_decimal_to_currency(f.object.value_brl, 2) || '', class: 'currency-brl mask-field'} %> 
   
    <%= f.input :exchange_rate, placeholder: "Digite o valor",  as: :string, input_html: {class: 'currency_exchange_rate'}%>
   
    <div class="row transaction-formula">
      <div class="col-6">
        <%= f.input :value, placeholder: "Digite o valor", as: :string,
         input_html: {value: big_decimal_to_currency(f.object.value, 6), class: 'currency mask-field'} %>
      </div>
      <div class="col-6">
        <%= f.input :formula %>
      </div>
    </div>
    <div class="row">
    <div class="col-6">
    <%= f.label :date, "Data da liberação" %>
     <%= f.text_field :date, as: :date, class: "form-control string" %>
    </div>
    <div class="col-6">
    <%= f.label :date, "Data:", include_blank: true if debt.externo? %>
     <%= f.text_field :internalization_date, as: :date, class: "form-control string", include_blank: true if debt.externo? %>  
    </div>
    </div>
   
     
    <%= f.input :confirmed, wrapper_html: {class: 'pull-right'} if transaction_item.withdraw? %>
  </div>
<% end %>

<div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>

  <% if transaction_item.new_record? %>
    <% http_verb = 'post' %>
    <% path = debt_transaction_items_path(@debt) %>
  <% else %>
    <% http_verb = 'patch' %>
    <% path = debt_transaction_item_path(@debt, transaction_item) %>
  <% end %>

  <button type="button" class="btn btn-success transaction-save" data-http-verb="<%= http_verb %>" data-path='<%= path %>'>Salvar</button>
</div>
 
  <%= javascript_pack_tag 'libs/transaction'  %>



