<%= simple_form_for(@currency,  html: { remote: true }) do |f| %>
 
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
   
  
  <div class="form-inputs">
 
    <%= f.input :name %>
    <p>
    <%= f.input :formula %>
    </p>
     <label for="moeda">Moeda</label>
     <p>
    <%= select("currency", "code", @json.collect {|bndes| [ bndes['sigla'] + " - (#{bndes['serie']})", bndes['serie'] ] }, {include_blank: '--- Nenhuma Moeda ---'}, { :class => 'form-control' } ) %>
    </p>
    <p>
      <%= f.input :description %>
    </p>
 
  </div>

  <div class="form-actions">
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
         <%= f.button :submit, class: "btn btn-success pull-right" %>
      </div>
   
  </div>
<% end %>
 