 <%= simple_form_for(@currency,  html: { remote: true }) do |f| %>
 
<p>
  <strong>Name:</strong>
<%= @currency.name %>
  
</p>
 
<p>
  <strong>Formula:</strong>
  <%= @currency.formula %>
  
</p>

<p>
  
  <label for="last_currency"><strong>Última cotação:</strong></label>
    
   <%= f.text_field  :last_currency, class: "form-control" %>
  
</p>
<p>
  
 <label for="date_currency"><strong>Data da cotação:</strong></label>
  <%= f.text_field :date_currency,  class: "form-control string" %>
  
</p>
 
<p>
   
    <%= f.input :description %>
</p>

  <div class="modal-footer">
     <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
 
 
    <%= f.button :submit, value: 'Atualizar Moeda', class: "btn btn-success pull-right" %>
  
<% end %>

<%= javascript_pack_tag('libs/flatpicker') %>
         
 </div>
 
