 <%= simple_form_for(@currency,  html: { remote: true }) do |f| %>

<p>
  <strong>Name:</strong>
<%= @currency.name %>
  
</p>
 
<p>
 
    <label for="moeda">Moeda</label>
  <%= select("currency", "code", @json.collect {|bndes| [ bndes['sigla'] + " - (#{bndes['serie']})", bndes['serie'] ] }, {include_blank: '--- Nenhuma Moeda ---'}, { :class => 'form-control', include_blank: 'None' } ) %>

</p>

<p>
  <label for="last_currency"><strong>Valor da cotação:</strong></label>
   <%= f.text_field  :last_currency, class: "form-control" %>
</p>
<p>
  
 <label for="date_currency"><strong>Data da cotação:</strong></label>
  <%= f.text_field :date_currency,  class: "form-control string" %>
</p>
 
 <table class="fixed_header table table-sm">
  <thead class="thead-dark">
    <tr>
      <th>Data da cotação:</th>
      <th>Valor do dia:</th>
    </tr>
  </thead>
  <tbody>

   <% currency.manuals.each do |manual| %>
    <tr class="table-sm">
      <td><%= manual.last_currency %></td>
      <td><%=  manual.date_currency %></td>
    </tr>
  <% end %>
    
  </tbody>
</table>
 
  <div class="modal-footer">
     <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
 
 
    <%= f.button :submit, value: 'Incluir Cotação', class: "btn btn-success pull-right" %>
  
<% end %>

<%= javascript_pack_tag('libs/flatpicker') %>
         
 </div>
 
