<%=  simple_form_for [@debt, @attachment], url: [@debt, @attachment] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="modal-body">
    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :description %>
       
      <%= f.input :file, as: :file, direct_upload: true %>
    </div>
  </div>
<% end %>

