<div class="container">
  
  <div class="row">
   <div class="col-12">
    <h1>Home</h1>
    </div>
    <div class="col-sm-6 col-md-3">
    <button onclick="myFunction()" class="btn btn-primary">Notification</button>
      <div class="card text-center">
        <div class="card-header">Lista de operações</div>
        <%= image_tag('icon_4.png', width: "230", hight: "230") %>
        <div class="card-body">
        <%= link_to 'Operações', debts_path, class: "btn btn-block btn-outline-success" %>
         
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="card text-center">
        <div class="card-header">Credores</div>
        <%= image_tag('icon_6.png', width: "230", hight: "230") %>
        <div class="card-body">
         <%= link_to 'Credores', creditors_path, class: "btn btn-block btn-outline-success" %>
        </div>
      </div>
    </div>

   <div class="col-sm-6 col-md-3">
      <div class="card text-center">
        <div class="card-header">Moedas</div>
        <%= image_tag('icon_1.png', width: "230", hight: "230") %>
        <div class="card-body">
          <%= link_to 'Moedas', currencies_path, class: "btn btn-block btn-outline-success" %>
        </div>
      </div>
    </div>

       <div class="col-sm-6 col-md-3">
      <div class="card text-center">
        <div class="card-header">Relatórios</div>
        <%= image_tag('icon_2.png', width: "230", hight: "230") %>
        <div class="card-body">
         <%= link_to 'Relatórios', reports_path, class: "btn btn-block btn-outline-success" %>
        </div>
      </div>
    </div>

   


  </div>
</div>
