<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path("sigdiv.png") %>
    <title>SIGDIV</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    
    <%= javascript_include_tag 'application'  %>
    <%= javascript_pack_tag 'application'  %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
      <div class="wide-container container">
        <a class="navbar-brand" href="<%= root_path %>"><%= image_tag asset_path("sigdiv.png"), class: "logo" %>SIGDIV</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link <%= controller_name == root_path ? "active" : "" %>" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
            <%= link_to 'Operações', debts_path, class: "nav-item nav-link #{controller_name == "debts" ? "active" : ""}" %>
            <%= link_to 'Credores', creditors_path, class: "nav-item nav-link #{controller_name == "creditors" ? "active" : ""}" %>
            <%= link_to 'Moedas', currencies_path, class: "nav-item nav-link #{controller_name == "currencies" ? "active" : ""}"  %>
            <%= link_to 'Relatórios', reports_path, class: "nav-item nav-link  #{controller_name == "reports" ? "active" : ""}" %>
            
          </div>
        </div>
      </div>
    </nav>

    <div class="wide-container container main-content">
      <%= yield %>
    </div>
   
     
  </body>
</html>
