<!DOCTYPE html>
<html>
  <head>
  
  <link rel="icon" type="image/png" href="<%= image_url('sigdiv.png') %>" />
    <title><%= yield(:title) == '' ? 'Welcome - SIGDIV' : yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <!-- Style Sheet here -->
   <%= stylesheet_pack_tag 'application' %>
  <!-- Style Sheet here -->

   <%= stylesheet_link_tag 'application' %>
   <%= javascript_include_tag 'application'  %>
   <%= javascript_pack_tag 'application'  %>
  </head>

  <body data-flash-mensager="<%= JSON.dump(flash.to_a) %>">

  
  <H1> WELCOME SIGDIV </H1>
   
     
  </body>
</html>
